@charset "UTF-8";

*{
    font-family: 'Nunito';
}


main{
    top:0px;
}
main section{
    height: 250px;
}
main section.main-information{
    width: 100%;
    height: 330px;
    border-radius: 0px 0px 12px 12px ;
    position: relative;
    overflow: hidden;
   
}
main section.main-information button img{
    width: 25px;
    margin-left: 10px;
    position: absolute;
}
main .main-information .information-motel{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}
main .main-information .information-motel .images{
    
    position: absolute;
    top: 30px;
    right: 85px;
    transform: translate(70%, -50%);
    height: 40px;
    width: 120px;
} 
main .main-information .information-motel .images img.map{
    width: 6.5vw;
    min-width: 25px;
    max-width: 20px;
    margin-left: 10px;
    
   
} 
main .main-information .information-motel .images img{
    margin-left: 4.5%;
    width: 8vw;
    min-width: 30px;
    max-width: 31px;
   
}  

main .main-information .information-motel .motel-logo{
    background-color: rgba(0, 0, 0, 0.507);
    float: left;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}
main .main-information .information-motel h1{
    font-size: 20px;
    margin-left: 79px;
    margin-top: 14px;
    width: 148px;
}
main .main-information .information-motel > p{
    font-size: 12px;
    position: absolute;
    color: #707070;
    bottom: 2px;
    left: 20px;
}


main >p{
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}


main section.details-suit{
    height: 50vh;
    overflow: hidden;
    position: relative;
    
}
main .details-suit .information-suit{
    width: 100%;
    position: absolute;
    float: left;
    bottom: 0px;
    padding-bottom: 2px;
    padding-left: 20px;
}
main .details-suit .information-suit  p{
    font-size: 2.9vw;
    margin-bottom: 5px;
   
}
main .details-suit .information-suit h1{
    font-size: 3.5vw;
    font-weight:700;
}

main .details-suit .information-suit .amenities-suit{
    float: left;
    width: 60%;
    max-width: 400px;
    margin-top: 10px;
    bottom:0px ;
    
}
main .details-suit .information-suit .amenities-suit h2{
    font-size: 3.1vw;
    margin-bottom: 3px;
}
main .details-suit .information-suit .amenities-suit ul{
    columns: 2;
    list-style-type:none; 
}

main .details-suit .information-suit .prices-and-time{
    float: right;
    width: 30vw;
    margin-top: 10px;
    bottom:0px ;
}
main .details-suit .information-suit .prices-and-time h2{
    font-size: 3.1vw;
    margin-bottom: 3px;
}
main .details-suit .information-suit .prices-and-time .time-suit{
    float: left;
    margin-right: 10px;
}
main .details-suit .information-suit .prices-and-time .price-suit{
    font-weight: bold;
}











