@charset "UTF-8";


main section #main form div input{
    width: 62vw;
   
}

main section div#main form div.deactivate{
    height: 18vh;
    border: none;
}


main section div#main form div.deactivate p{
    font-weight: 400;
    font-size: 16px;
    color: var(--cor5);
    display: inline-block;
    margin-top: 10px;
    width: 62vw;
    
}


main section #main form div.deactivate a.delete{
    margin-left: 21px;
    
}

