@charset "UTF-8";

main section{
    height: 60vh;
    margin-top: -30px;
    padding: 10px;
    overflow: hidden;
    background-color: transparent;
    box-shadow: none;

}
main section div h1{
    font-size: 19px;
    margin-bottom: 35px;
}
main section div#main{
   height:30vh ;
}
main section div#main a div{
    height: 4.9vh;
}
main section div#main div{
    position: relative;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.26);
    

}
main section div#main img#left{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -40%);
}
main section div#main img.avatar{
    width: 29px;
    margin-top: -3px;
    margin-left: -4px;
}
main section div#main  img.heart{
    width: 30px;
    margin-top: -3px;
    margin-left: -4px;
}
main section div#main  img.lock{
    width: 22px;
    margin-top: -3px;
    margin-left: 4px;
    
}
main section div#main  img.support{
    width: 25px;
    margin-top: -2px;
    margin-left: 2px;
}
main section div#main  img.doc{
    width: 18px;
    margin-top: -2px;
    margin-left: 4px;
}
main section div#main div p{
    width:fit-content;
    color: var(--cor5);
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(0%, -40%);
}
main section div#main #arrow{
    width: 9px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0%, -50%);
}

main section div.legal{
    margin-top: 35px;
}

main .logout-main{
    position: absolute;
    bottom: 210px;
    left:0% ;
    transform: translate(10%, -50%);
    
}
main div.logout{
    position: relative;
    margin-left: 20px;
    margin-top:20px ;
}
main div.logout a img{
    position: absolute;
    width: 20px;
}
main div.logout a > p{
   margin-left: 30px;
   font-size: 14px;
   color: rgb(99, 97, 97);
}
